﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="MenuSupervisor.aspx.cs" Inherits="FASE2.MenuSupervisor" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
     <link type="text/css" href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <h3>Menu supervisor</h3>
        </div>
    </form>
</body>
</html>
