﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="RegistroDepartamentosMunicipios.aspx.cs" Inherits="FASE2.RegistroDepartamentosMunicipios" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link type="text/css" href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>
</head>
<body>
    <form id="form1" runat="server">


         <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <a class="navbar-brand" href="MenuAdmin.aspx">DIPROMA</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="RegistroDepartamentosMunicipios.aspx">Cargar XML <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Formularios</a>
                <div class="dropdown-menu" style="">
                  <a class="dropdown-item" href="FormularioVehiculo.aspx">Vehiculos</a>
                  <a class="dropdown-item" href="#">Clientes</a>
                  <a class="dropdown-item" href="#">Empleados</a>
                </div>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#">Reportes</a>
              </li>
            </ul>
          </div>
        </nav>




        <div align="center">
            <h1>Carga de archivos XML</h1>
        </div>
        <p>
            &nbsp;</p>
        <p>
            <asp:FileUpload ID="FileUpload1" runat="server" />
        </p>
        <p>
            &nbsp;</p>
        <p>
            <asp:Button ID="Button2" runat="server" Text="Cargar departamentos" OnClick="Button2_Click" />
        </p>
        <p>
            <asp:Button ID="Button3" runat="server" Text="Cargar municipios" OnClick="Button3_Click" />
        </p>
        <p>
            <asp:Button ID="Button4" runat="server" Text="Cargar categorias" OnClick="Button4_Click" />
         </p>
        <p>
            <asp:Button ID="Button5" runat="server" Text="Cargar productos" OnClick="Button5_Click" />
         </p>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


         <p>
            <asp:Button ID="Button6" runat="server" Text="Cargar listas" OnClick="Button6_Click" />
         </p>
         <asp:Button ID="Button7" runat="server" Text="Cargar clientes" OnClick="Button7_Click" />
         <br />
         <br />
         <p>
             <asp:Button ID="Button8" runat="server" Text="Cargar puestos" OnClick="Button8_Click" />
         </p>
         <p>
             <asp:Button ID="Button9" runat="server" Text="Cargar empleados" OnClick="Button9_Click" />
         </p>
         <p>
             <asp:Button ID="Button10" runat="server" Text="Cargar metas" OnClick="Button10_Click" />
         </p>
    </form>


</body>
</html>
